
* {
	box-sizing: border-box;
  /*border: 1px solid #f00 !important;*/
}

img {
	max-width: 100%; 
	height: auto;
}



/*_______NAVIGATION BARS_________ */

.navbar {
  overflow: hidden;
    position: relative;
    width: 355px;
    left: 300px;
    height: 45px;
    border:2px white solid;
    margin: 10px;
}

.navbar a {
  float: left;
  font-size: 18px;
  color: white;
  text-align: center;
  padding: 8px 8px;
  text-decoration: none;
  font-family: 'Prata', serif;
  color: white;
}

.navbar a:hover, .dropbtn {
  background-color: pink;
  color: black;
}

.sign {
	object-fit: cover;
    width: 18%;
    position: relative;	
    left: 41%;
}


/*FONTS 
font-family: 'Parisienne', cursive;
font-family: 'Playfair Display', serif;


/*________________HOMEPAGE STYLES_____________________*/




body.homepage {
	
	background-color:#D9D3C7;;
	font-family: 'Playfair Display', serif;
	font-weight: normal;
	line-height: 1.4;
	font-size: 16pt;
	margin:25px;
	color: white;
}

.header {
	background-color: #5C7351;
	margin: -25px;
	padding-top: 15px;
}


.da {
	position:absolute;
	margin: 0;
	right: 150px;
	text-align: center;
	top: 1100px;
	font-weight: 500;
	letter-spacing: 2px;
	font-size: 20pt;

}

.g {
	position:absolute;
	margin: 0;
	left: 140px;
	text-align: center;
	top: 910px;
	font-weight: 500;
	letter-spacing: 2px;
	font-size: 20pt;
}

.decal {
	 position: absolute;
    object-fit: cover;
    width: 99.9%;
    height: 1050px;
    top: 65%;
    left: 1px;
}

.square {
  	height: 170px;
    width: 170px;
    
    background-color: darkgrey;
    transform: rotateZ(45deg);
    position: absolute;
    top: 850px;
    left: 120px;
    

}



.squar {
  	height: 195px;
    width: 195px;
    background-color: darkgrey;
    transform: rotateZ(45deg);
    position: absolute;
    background-color: #5C7351;
    top: 1040px;
    right: 120px;
    /*opacity: 50%;*/

}


.homepage h4{
	text-align: center;
    position: relative;
    margin: 0;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 14pt;
    letter-spacing: 3px;
    left: 35%;
    color: black;
    width: 400px;
}


.office {
	object-fit: cover;
	width: 100%;
	height: 200px;
	filter: blur(1px);
}
@media (min-width: 600px) {
.office {
	object-fit: cover;
	width: 100%;
	height: 270px;
	filter: blur(1.5px);
}
}
@media (min-width: 1100px) {
.office {
	object-fit: cover;
	width: 100%;
	height: 330px;
	filter: blur(1.5px);
}
}





.goblet {	
	object-fit: cover;
	width: 350px;
	height: 400px;
	position: absolute;
	top: 500px;
	/*left: 50%;*/
}




.author {	
	object-fit: cover;
	width: 350px;
	height: 400px;
	position: absolute;
	top: 1200px;
	right: 40px;
}




.r1 {
	position:absolute;
	margin: 0;
	right:275px;
	top: 525px;
	color: #5C7351;


}

p.r1 {
	position:absolute;
	margin: 0;
	right: 40px;
	top: 600px;
	width: 500px;
	text-align: left;
	color: black;
}


a.r1 {
	position:absolute;
	margin: 0;
    top: 900px;
    right:450px;
}






.r2 {
	position:absolute;
	margin: 0;
	left: 40px;
	top: 1225px;
	color: #5C7351;

}

p.r2 {
	position:absolute;
	margin: 0;
	left: 40px;
	top: 1300px;
	width: 500px;
	color: black;
}

a.r2 {
	position:absolute;
	margin: 0;
	left: 40px;
	top: 1600px;
}





/*
#73020C#BF8F73#D9B19A#262626#0D0D0D

#D9D3C7#F28D77#F2786D#262626#0D0D0D

#32402C#5C7351#90A686#735943#0D0D0D

#F2C094#F2AF88#A67D65#592816#D9D9D9

#5c5d61;#928e93;#7495ae#557a95;#b0a295;*/

/*--------CRYTAL GOBLET -------------*/

/*.header {

	display: grid;
	grid-template-columns: 33.33% 33.33% 33.33%
}*/


/*.top {

	display: grid;
	grid-template-columns: 50% 50%;
}


.side {

}





.crystalgob h1{
	text-align: center;
}


.crystalgob h2{
	text-align: center;
}



.circle {
  height: 50px;
  width: 50px;
  background-color: #555;
  border-radius: 50%;
}
*/






























