* {
	box-sizing: border-box;
}
main {
	margin-left: 20px;
	margin-right: 20px;
}

body {
	background-color: white;
	color: black;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: normal;
	line-height: 1.4;
	font-size: 16px;
	margin: 0.25em;
	background-color: #eeeeee;
	
}

img {
	max-width: 100%;
}

h1 {
	font-family: 'Parisienne', cursive;
    color: black;
    position: absolute;
    color: white;
    font-size:9vw; 
    top: 12vw; 
    left: 18vw;
    text-align: center;

}
h2 {
	color: black;
    position: absolute;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size:2vw; 
    top: 29vw; 
    left: 20.5vw; 
    max-width: 60vw;
    text-align: center;
}

h3 {
	font-family: 'Abril Fatface', cursive;
    text-align: center;
    font-size: 7.3vw;
    margin: -3px;
    color: #3C557E;

}
hr.solid {
  border-top: .5px dotted #000;
}

.cover {
	width: 100%;
	padding: .25em;
	filter: blur(1.3px);
}

.grid {
	display: flex;
	flex-wrap: wrap;
	border: .2px solid black;
}
.brazil {
	width: 50.3%;
	margin: 1vw;
}
.brazil2 {
	width: 44.75%;
	margin: 1vw;
}

.brazil3 {
	margin: 1vw;
}



.city1 {
	font-family: 'Abril Fatface', cursive;
	text-align: center;
	font-size: 1.4vw;
	margin: 6px;
	background-color: #6191a0ba;
	position: absolute;
	left: .7vw;
	top: 67vw;
	padding: 1vw;
	color: black;
}

.city2 {
	font-family: 'Abril Fatface', cursive;
	text-align: center;
	font-size: 1.4vw;
	margin: 6px;
	padding: 1vw;
	background-color: #bcd6eeb0;
	position: absolute;
	right: 0.5vw;
    top: 84.5vw;
}

.city3 {
	font-family: 'Abril Fatface', cursive;
	text-align: center;
	font-size: 1.4vw;
	margin: 6px;
	padding: 1vw;
	background-color: #8d8465a6;
	position: absolute;
	top: 132vw;
	right: 1vw;
	color: black;
}

.description {
	font-family: 'Open Sans Condensed', sans-serif;
	text-align:center;
	font-size: 1.6vw;
	padding: .1vw;
}

.iceland {
	width: 30.75%;
	margin: 1vw;
}
.iceland2 {
	width: 30.75%;
	margin: 1vw;
}
.iceland3 {
	width: 30.75%;
	margin: 1vw;
}
.iceland4 {
	margin: 1vw;
}
.iceland5 {
	width: 47.45%;
	margin: 1vw;
}
.iceland6 {
	width: 47.45%;
	margin: 1vw;
}

.city4 {
	font-family: 'Abril Fatface', cursive;
	text-align: center;
	font-size: 1.4vw;
	padding: .8vw;
	background-color: #928275cc;
	position: absolute;
   top: 186vw;
    left: 1vw;
	color: black;
}

.city5 {
	font-family: 'Abril Fatface', cursive;
    font-size: 1.4vw;
    padding: .8vw;
    background-color: #aed9e89e;
    position: absolute;
    top: 189vw;
    left: 33vw;
    color: black;
}
.city6 {
	font-family: 'Abril Fatface', cursive;
	text-align: center;
	font-size: 1.4vw;
	padding: .8vw;
	background-color: #958583a6;
	position: absolute;
	top: 187vw;
    right: 2.5vw;
	color: black;
}
.city7 {
	font-family: 'Abril Fatface', cursive;
	text-align: center;
	font-size: 1.4vw;
	padding: .8vw;
	background-color: #54727fc4;
	position: absolute;
	top: 237vw;
    left: 1vw;
	color: white;
}
.city8 {
	font-family: 'Abril Fatface', cursive;
	text-align: center;
	font-size: 1.4vw;
	padding: .8vw;
	background-color: #c9a4b9c2;
	position: absolute;
	top: 294vw;
    left: 2vw;
	color: black;
}
.city9 {
	font-family: 'Abril Fatface', cursive;
	text-align: center;
	font-size: 1.4vw;
	padding:.8vw;
	background-color: #16608699;
	position: absolute;
    right: 2vw;
    color: white;
    top: 294vw;
}

/*font-family: 'Abril Fatface', cursive;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Parisienne', cursive;
font-family: 'Vollkorn SC', serif; */

